.chart {
  margin-left: 42px;
  font: 10px sans-serif;
  shape-rendering: crispEdges; 
}

.smooth_chart {
  margin-left: 42px;
  font: 14px sans-serif;
  stroke: white;
  fill: white;
}

.chart rect {
  stroke: white;
}

.chart text {
  font: 15px sans-serif;
  fill: black;
}

.line_chart {
	stroke-width: 2;
	fill: none;
  shape-rendering: auto;
}