.chart {
  margin-left: 42px;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.smooth_chart {
  margin-left: 42px;
  font: 14px sans-serif;
  stroke: white;
  fill: white;
}

.chart rect {
  stroke: white;
}

.chart {
  font: 15px sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  fill: black;
}

.line_chart {
	stroke-width: 2;
	fill: none;
  shape-rendering: auto;
}

.values{
  font: 24px sans-serif;
  fill:lightgray;
}
