.chart {
  margin-left: 42px;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.smooth_chart {
  margin-left: 42px;
  font: 14px sans-serif;
  stroke: white;
  fill: white;
}

.chart rect {
  stroke: white;
}

.chart text {
  fill: black;
}
